/* Global changes */

body
{
  background-color: #000000;
  color: white;
  font: Helvetica;
}
/* paragraphs */
p {
    color: white;
}

/* bullet points */
.reveal ul, 
.reveal ol {
    color: white;
}
/* titles */
.reveal h3 { 
  color: white;
  font-weight: bold;
}

/* emphasis */
.reveal section strong {
  color: #9ACD32;
  font-weight: bold;
}